### Boolean Operations

In [256]:
a = True
b = False

print(a and b)
print(a or b)
print(not a)
print(not b)

# Explanation:
# Here a and b evaluates to False because both operands are not True.
# a or b evaluates to True because at least one operand is True.
# not a evaluates to False because a is True.
# not b evaluates to True because b is False.
# The logical operators used are 'and', 'or', and 'not'.
# The data type of the variables a and b is bool (boolean).

False
True
False
True

In [379]:
# Give me boolean operations examples like above for practice
x = 10
y = 20
print(x < y)      # True
print(x > y)      # False
print(x == y)     # False
print(x != y)     # True
print((x < y) and (x != y))  # True
print((x > y) or (x == y))   # False
print(not (x < y))  # False
print(not (x > y))  # True

# Explanation:
# The comparisons x < y, x > y, x == y, and x != y evaluate to True or False based on the values of x and y.
# The logical operations combine these comparisons using 'and', 'or', and 'not' to produce final boolean results.
# The data type of the variables x and y is int (integer).
# The results of the comparisons and logical operations are of type bool (boolean).
# This provides practice with boolean operations and comparisons in Python.
# The data types involved are int and bool.
# The logical operators used are 'and', 'or', and 'not'.

True
False
False
True
True
False
False
True

### Sequence Types

In [257]:
lst = [78, 90, 45, 63, 55, 97, 67, 21, 45]

print(lst)
type(lst)

# EXPANATION:
# Here, we define a list named lst containing several integer values.
# We then print the list to the console.
# Finally, we use the type() function to check the data type of lst, which is 'list'.

[78, 90, 45, 63, 55, 97, 67, 21, 45]

list

#### Mixed List

In [378]:
mixed_lst = [10, 6.78, True, [23, 45, 67], (1,2,3), 'Apple']
print(mixed_lst)

# EXPLANATION:
# In this code, we create a list named mixed_lst that contains elements of various data types:
# an integer (10)
# a float (6.78)
# a boolean (True)
# another list ([23, 45, 67])
# a tuple ((1, 2, 3))
# a string ('Apple')
# We then print the mixed_lst to the console to display its contents.
# This demonstrates that lists in Python can hold elements of different data types.
# The data type of mixed_lst is 'list'.

[10, 6.78, True, [23, 45, 67], (1, 2, 3), 'Apple']

In [259]:
shop_lst = ['Apple', 'Soap', 'Shampoo', 'Rice', 'Notebook']
shop_lst

['Apple', 'Soap', 'Shampoo', 'Rice', 'Notebook']

In [260]:
mixed_lst[3][2]

67

In [261]:
mixed_lst[-1][-2]

'l'

In [262]:
# Tuple
t1 = (78, 90, 45, 63, 55, 97, 67, 21, 45)
t1

(78, 90, 45, 63, 55, 97, 67, 21, 45)

In [263]:
type(t1)

tuple

In [264]:
# String
s1 = 'Python 3.0'
s1

'Python 3.0'

In [265]:
type(s1)

str

In [266]:
s2 = "Hello"
s2

'Hello'

In [267]:
type(s2)

str

In [268]:
s3 = '''Hello World!
How are you today'''
print(s3)

Hello World!
How are you today

In [269]:
s3

'Hello World!\nHow are you today'


#### 1. Positional Indexing - Accessing Elements Using Index

In [270]:
lst[2]

45

In [271]:
t1[0]

78

In [272]:
s1[8]

'.'

### Negative Index - Countint from the end

In [273]:
lst[-1]

45

In [274]:
s3[-1]

'y'

In [275]:
lst

[78, 90, 45, 63, 55, 97, 67, 21, 45]

In [276]:
t1

(78, 90, 45, 63, 55, 97, 67, 21, 45)

In [277]:
lst[3:7]

[63, 55, 97, 67]

In [278]:
lst[:6]

[78, 90, 45, 63, 55, 97]

In [279]:
s2 = "Hello World"

In [280]:
s2

'Hello World'

In [281]:
s2[6:]

'World'

In [282]:
s2[-5:]

'World'

### Iterating Over a sequence

In [283]:
shop_lst

['Apple', 'Soap', 'Shampoo', 'Rice', 'Notebook']

In [284]:
for x in shop_lst:
    print(x)
    print('hi')

Apple
hi
Soap
hi
Shampoo
hi
Rice
hi
Notebook
hi

In [285]:
for x in shop_lst:
    print(x)
print('hi')

Apple
Soap
Shampoo
Rice
Notebook
hi

In [286]:
for x in shop_lst:
    print(x)
    print('hi')
print('__________')

Apple
hi
Soap
hi
Shampoo
hi
Rice
hi
Notebook
hi
__________

In [287]:
mixed_lst

[10, 6.78, True, [23, 45, 67], (1, 2, 3), 'Apple']

In [288]:
for x in mixed_lst:
    print(x, '= ', type(x))
print('Daniel')

10 =  <class 'int'>
6.78 =  <class 'float'>
True =  <class 'bool'>
[23, 45, 67] =  <class 'list'>
(1, 2, 3) =  <class 'tuple'>
Apple =  <class 'str'>
Daniel

In [289]:
for x in 'Python 3.0':
    print(x, '= ', type(x))

P =  <class 'str'>
y =  <class 'str'>
t =  <class 'str'>
h =  <class 'str'>
o =  <class 'str'>
n =  <class 'str'>
  =  <class 'str'>
3 =  <class 'str'>
. =  <class 'str'>
0 =  <class 'str'>

In [290]:
len(lst)

9

In [291]:
len(s3)

30

In [292]:
min(lst)

21

In [293]:
max(lst)

97

In [294]:
sum(lst)

561

In [295]:
sum(lst) / len(lst)

62.333333333333336

In [296]:
### Membership Function
'Sugar' in shop_lst

False

In [297]:
'Soap' in shop_lst

True

In [298]:
'e' in s2

True

####'+' Operator

In [299]:
l1 = [1,2,3]
l2 = [4,5,6]

In [300]:
l1+l2

[1, 2, 3, 4, 5, 6]

In [301]:
'Hello ' + 'World'

'Hello World'

#### '*' Operator

In [302]:
l1

[1, 2, 3]

In [303]:
l1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [304]:
'Hello ' * 3

'Hello Hello Hello '

In [305]:
print('_' * 30)

______________________________

### List

In [306]:
dir(lst)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### Adding Elements to a list

In [307]:
lst

[78, 90, 45, 63, 55, 97, 67, 21, 45]

In [308]:
lst

print(lst.append(100))
# Here append() method adds 100 to the end of the list lst.

print(lst.append('sugar'))
# Here append() method adds 'sugar' to the end of the list lst.

None
None

In [309]:
lst.append('sugar')
lst

[78, 90, 45, 63, 55, 97, 67, 21, 45, 100, 'sugar', 'sugar']

In [310]:
shop_lst.append('Sugar')
shop_lst

['Apple', 'Soap', 'Shampoo', 'Rice', 'Notebook', 'Sugar']

#### Add Multiple elements at the end of the list

In [311]:
lst

[78, 90, 45, 63, 55, 97, 67, 21, 45, 100, 'sugar', 'sugar']

In [312]:
lst.extend([1,2,3])
lst

[78, 90, 45, 63, 55, 97, 67, 21, 45, 100, 'sugar', 'sugar', 1, 2, 3]

In [313]:
lst.append([1,2,3])
lst

[78, 90, 45, 63, 55, 97, 67, 21, 45, 100, 'sugar', 'sugar', 1, 2, 3, [1, 2, 3]]

In [314]:
shop_lst

['Apple', 'Soap', 'Shampoo', 'Rice', 'Notebook', 'Sugar']

In [315]:
shop_lst.extend(['Pen', 'Paper', 'Jam'])
shop_lst

['Apple',
 'Soap',
 'Shampoo',
 'Rice',
 'Notebook',
 'Sugar',
 'Pen',
 'Paper',
 'Jam']

In [316]:
lst.insert(3,33)
lst

[78,
 90,
 45,
 33,
 63,
 55,
 97,
 67,
 21,
 45,
 100,
 'sugar',
 'sugar',
 1,
 2,
 3,
 [1, 2, 3]]

In [317]:
### Remove elements from a list

In [318]:
lst.pop()

[1, 2, 3]

In [319]:
lst

[78, 90, 45, 33, 63, 55, 97, 67, 21, 45, 100, 'sugar', 'sugar', 1, 2, 3]

In [320]:
# pop is the opposite of append

In [321]:
# Remove elements at position 3
# This is the opposite of insert
lst.pop(3)

33

In [322]:
lst

[78, 90, 45, 63, 55, 97, 67, 21, 45, 100, 'sugar', 'sugar', 1, 2, 3]

In [323]:
shop_lst

['Apple',
 'Soap',
 'Shampoo',
 'Rice',
 'Notebook',
 'Sugar',
 'Pen',
 'Paper',
 'Jam']

In [324]:
shop_lst.pop(-1)
shop_lst

['Apple', 'Soap', 'Shampoo', 'Rice', 'Notebook', 'Sugar', 'Pen', 'Paper']

In [325]:
l1 = [8,7,6]
l1

[8, 7, 6]

In [326]:
# clears everything
l1.clear()
l1

[]

### Class = 04

In [327]:
# Numeric
# Integral: Int
# Non-Integral: Float
# Boolean: Bool. True/False

# Collections
"""
1. Sequence: Mutable and Immutable

Mutable: List[]
Immutable: Tuple(), String""

2. Mapping: Dictionary
Set: Mutbale and Immutable

Mutable: Set
Immutable: Frozen Set
"""

'\n1. Sequence: Mutable and Immutable\n\nMutable: List[]\nImmutable: Tuple(), String""\n\n2. Mapping: Dictionary\nSet: Mutbale and Immutable\n\nMutable: Set\nImmutable: Frozen Set\n'

### Arrange elements in order

In [328]:
lst = [78, 90, 45, 63, 55, 67, 21, 45, 100, 1, 2]
lst

[78, 90, 45, 63, 55, 67, 21, 45, 100, 1, 2]

In [329]:
# Ascending order
lst.sort()
lst

# Here the list is sorted in ascending order
# lst.sort() This is the correct way to sort in ascending order

[1, 2, 21, 45, 45, 55, 63, 67, 78, 90, 100]

In [330]:
print(lst.sort())

# This gives None because sort() method sorts the list in place and returns None.

None

In [331]:
# Descending order
lst.sort(reverse=True)
lst

# This sorts the list in descending order
# lst.sort(reverse=True) This is the correct way to sort in descending order

[100, 90, 78, 67, 63, 55, 45, 45, 21, 2, 1]

In [332]:
lst

print(lst.sort())
# Here it gives None because sort() method sorts the list in place and returns None.

None

In [333]:
lst.sort()
lst

[1, 2, 21, 45, 45, 55, 63, 67, 78, 90, 100]

In [334]:
shop_lst

['Apple', 'Soap', 'Shampoo', 'Rice', 'Notebook', 'Sugar', 'Pen', 'Paper']

In [335]:
# Ascending order Example
shop_lst.sort()
shop_lst

['Apple', 'Notebook', 'Paper', 'Pen', 'Rice', 'Shampoo', 'Soap', 'Sugar']

In [336]:
# Descending order Example
shop_lst.sort(reverse=True)
shop_lst

['Sugar', 'Soap', 'Shampoo', 'Rice', 'Pen', 'Paper', 'Notebook', 'Apple']

In [337]:
mixed_lst

[10, 6.78, True, [23, 45, 67], (1, 2, 3), 'Apple']

In [338]:
# mixed_lst.sort()

# This will give an error because the list contains mixed data types that cannot be compared directly for sorting.

In [339]:
l1 = [45, 67, 23]
l1

[45, 67, 23]

In [340]:
# Reverse without sorting
l1.reverse()
l1

# lst.sort(), lst.reverse(). The difference between these two methods is that sort() arranges the elements in a specific order (ascending or descending), while reverse() simply reverses the current order of the elements in the list.

[23, 67, 45]

#### Count the number of occurrences of an element in a list

In [341]:
print(l1)
name_lst = ['Tom', 'Tim', 'Jon', 'Jim', 'Jon', 'Kim']
name_lst

[23, 67, 45]

['Tom', 'Tim', 'Jon', 'Jim', 'Jon', 'Kim']

In [342]:
# This will count how many times 'Tim' appears in the list
name_lst.count('Jon')

2

In [343]:
name_lst.count('Tim')

1

In [344]:
l2 = [1,2,1,3,4,1,6,7]

In [345]:
# This will count how many times 2 appears in the list
l2.count(2)

1

### Index position of the first occurance of an element in the list

In [346]:
### What is the position of Jim in the name_lst?
name_lst.index('Jim')

3

In [347]:
# To find the index of the first occurrence of 'Jon' in the name_lst
print(name_lst)
print(name_lst.index('Jon'))

['Tom', 'Tim', 'Jon', 'Jim', 'Jon', 'Kim']
2

In [348]:
# We can use only what is available in the list.
'''
append
extend
insert
pop
clear
sort
reverse
count
index
remove
copy
'''

'\nappend\nextend\ninsert\npop\nclear\nsort\nreverse\ncount\nindex\nremove\ncopy\n'

In [349]:
# copy()
# This method creates a shallow copy of the list.

l1 = [1,2,3]
l3 = l1.copy()
l3

# l3=l1 # This would create a reference to the same list, not a copy.
# l3 = l1.copy() # This creates a new list that is a copy of l1.

[1, 2, 3]

### Assignment vs Copy

In [350]:
l1 = [1,2,3]
l2 = l1
l1

[1, 2, 3]

In [351]:
print(l1)
print(l2)

[1, 2, 3]
[1, 2, 3]

In [352]:
# copy()

l1 = [1,2,3]
l2 = l1.copy()
l2

[1, 2, 3]

In [353]:
print(l1)
print(l2)

[1, 2, 3]
[1, 2, 3]

In [354]:
l2.append(100)
l2

[1, 2, 3, 100]

In [355]:
l1

[1, 2, 3]

In [356]:
l2

[1, 2, 3, 100]

In [357]:
# Mutable: Once created, can be changed.
# Immutable: Once created, cannot be changed.
# List is mutable, meaning it can be changed after its creation.
# Tuple is immutable, meaning it cannot be changed after its creation.

In [358]:
# In list directory, we have methods like append, extend, insert, pop, clear, sort, reverse, count, index, remove, copy etc.

# l = [1,2,3]

# in List:
# append is allowed             # l.append(4)
# clear is allowed            # l.clear()
# extend is allowed           # l.extend([5,6])
# insert is allowed           # l.insert(1,10)
# pop is allowed              # l.pop()
# remove is allowed           # l.remove(2)
# sort is allowed             # l.sort()
# reverse is allowed          # l.reverse()
# count is allowed            # l.count(2)
# index is allowed            # l.index(3)
# copy is allowed             # l.copy()

In [359]:
# In Tuple, memory cannot be changed.

# t = (1,2,3)

# in Tuple:
# append is not allowed         # t.append(4)
# clear is not allowed          # t.clear()
# copy is not allowed           # t.copy()
# extend is not allowed         # t.extend([4,5])
# insert is not allowed         # t.insert(1,4)
# pop is not allowed            # t.pop()
# remove is not allowed         # t.remove(2)
# reverse is not allowed        # t.reverse()
# sort is not allowed           # t.sort()

# index is allowed              # t.index(2)
# count is allowed              # t.count(2)

In [360]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

### String

In [361]:
# String
# A string is a sequence of characters enclosed in single, double, or triple quotes.

# String methods are similar to tuple methods since strings are also immutable.

In [362]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [363]:
s1 = 'hello world'

print(s1.capitalize())
# Here first letter of the string is converted to uppercase and the rest to lowercase.

print(s1.title())
# Here the first letter of each word in the string is converted to uppercase.

print(s1.upper())
# Here all letters in the string are converted to uppercase.

Hello world
Hello World
HELLO WORLD

In [364]:
l1 = [1,8,6]
l1.sort()
l1

# Here the list is sorted in ascending order.

[1, 6, 8]

In [365]:
# s1 = "Hello World"
# s1.upper()
# Here s1 value is not changed because strings are immutable, but a new string is returned with all uppercase letters.

In [366]:
# .upper(): This will convert all letters in the string to uppercase.

upp_s1 = s1.upper()
print(upp_s1)
print(s1)

# Here upp_s1 contains the uppercase version of s1, while s1 remains unchanged.

HELLO WORLD
hello world

In [367]:
# .lower(): This will convert all letters in the string to lowercase.

s2 = "I LOVE PYTHON"
s2.lower()

# Here all letters in the string are converted to lowercase.

'i love python'

In [368]:
# .swapcase(): This will swap the case of each letter in the string.

s2.swapcase()
s2

# Here all uppercase letters are converted to lowercase and vice versa.

'I LOVE PYTHON'

In [369]:
s3 = "    Python"

# Here leading spaces are removed from the string.

In [370]:
# lstrip(), rstrip(), strip(): These methods are used to remove whitespace from the beginning, end, or both ends of a string, respectively.

s3.lstrip(), s3.rstrip(), s3.strip()

# here:
# lstrip() removes leading whitespace
# rstrip() removes trailing whitespace
# strip() removes both leading and trailing whitespace

('Python', '    Python', 'Python')

In [371]:
# .split(): This will split a string into a list based on a specified delimiter.

s4 = "Hello, World! Welcome to Python programming."
s4.split()

# Here the string is split into a list of words based on whitespace.
# Each word becomes an element in the resulting list.
# The original string remains unchanged.

['Hello,', 'World!', 'Welcome', 'to', 'Python', 'programming.']

In [372]:
# .split(', '): This will split a string into a list based on a specified delimiter.

s5 = 'Apple, Banana, Cherry, Grapes, Melon'
s5.split(', ')

# Here the string is split into a list of fruits based on the comma and space delimiter.
# Each fruit becomes an element in the resulting list.
# The original string remains unchanged.

['Apple', 'Banana', 'Cherry', 'Grapes', 'Melon']

In [373]:
# .split(): This will split a string into a list based on a specified delimiter.

s5 = 'Apple|Grapes,Lemon|Melon|Mango'
s5.split('|')

# Here the string is split into a list of fruits based on the '|' delimiter.
# Each fruit becomes an element in the resulting list.
# The original string remains unchanged.

['Apple', 'Grapes,Lemon', 'Melon', 'Mango']

In [374]:
fruits_lst = ['Apple', 'Grapes', 'Lemon', 'Melon', 'Mango']
fruits_lst

# Here we have a list of fruits stored in the variable fruits_lst.
# Each fruit is an element in the list.

['Apple', 'Grapes', 'Lemon', 'Melon', 'Mango']

In [375]:
# ''.join(): This will join the elements of a list into a single string, with a specified separator.

' '.join(fruits_lst)

# Here the elements of the list fruits_lst are joined into a single string, with each element separated by a space.

'Apple Grapes Lemon Melon Mango'

In [376]:
# ','.join(): This will join the elements of a list into a single string, with a specified separator.

', '.join(fruits_lst)

# Here the elements of the list fruits_lst are joined into a single string, with each element separated by a comma.

'Apple, Grapes, Lemon, Melon, Mango'

In [377]:
# .replace(): This will replace a substring within a string with another substring.

s6 = 'Anarkali'
s6.replace('Anar', 'Champa')

# Here 'Anar' in the string is replaced with 'Champa', resulting in 'Champakali'.

'Champakali'